<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kerberos</title>
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
  </head>
  <body>
    <div class="view">
      {% include "components/navbar.html" %}
      <div class="content">
        <div class="infos">
          <h1>Kerberos</h1>
          <p>Let's explore Jupiter planet.</p>
          <a href="/tryit">
            <div class="btn">
                Try it
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
